.App {
  text-align: center;
}

.Layout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.addvertise{

  width: 100vw;
  height: auto;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding: 5px 0;
  flex-wrap: nowrap;
  overflow: hidden;
  position: fixed;
  border-width: 2px 0 0 0;
  border-color: grey;
  border-style: solid;
  top: 0;
  z-index: 2;
  box-shadow: 2px 2px 2px grey;
  color: #131925;
}

.moving-add{
  font-weight: 700;
  font-size: 15px;
  width: auto;
  animation: moving 30s linear infinite;
}

@keyframes moving{
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(calc( -100%));
  }

}