.home {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0;
    

}

.moving-background {
    width: 100%;
    height: inherit;
    background-image: url('./homeBackground.jpg');
    background-size: cover;
    background-repeat: repeat-x;
    animation: moveBackground 10s linear infinite;
}

.black-cover{
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    
    padding: 20px 0;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -100% 0;
    }
}


.advertisement {
    height: 45vh;
    width: 100vw;
    background-color:  #131925;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 5px;
    overflow: hidden;
    z-index: 1;
}

.posterImage{
    width: 100vw;
    opacity: 0.3;
    margin-top: 8%;
    height: inherit;
}

.poster-card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    margin: 100px 0 0 30px;
    gap: 5px;
    min-width: 200px;
    color: #D1D5D8;
    position: absolute;
}

.poster-card-name {
    font-size: large;
    font-weight: 800;
    color: #D1D5D8;
    padding: 10px;
    margin: 0;
}

.poster-card-detail {
    padding: 0;
    margin: 0;
    color: grey;
    font-size: medium;
    font-weight: 300;
}

.poster-card-price {
    font-weight: 900;
    margin: 0;
    color: #D1D5D8;
}

.poster-card-price-head {

    margin: 0;
}

.cardSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    margin-top: 45vh;
    background-color: rgba(223, 213, 223, 0);

}

.cardContainerHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    font-size: large;
    color: white;

}

.cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    scrollbar-width: none;
    gap: 0 10px;
    width: 100vw;
    padding: 5px 0px 0 0;
   
}

.singlecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    min-height: 250px;
   
    margin: 5px;
    border-radius: 10px;
    border: rgba(144, 139, 143, 0.3) solid 3px;
    
    font-size: small;
    padding: 5px;
    background: linear-gradient(180deg, #ffffff, #f8f9fa);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);


}

.singlecard:hover {
  
        transform: scale(1.03);
        border-color: #fae46c;
        border-width: 3px;
      
}

.singlecard img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.card-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: grey;
    max-width: 150px;
    text-align: center;
    min-height: 30px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    align-items: center;
}


.price h4 {
    font-size: 20px;
    font-weight: bold;
    color: #ff6600;
}

@media (max-width: 768px) {
    .singlecard{
        width: 100px;
        height: 150px;
        min-width: none;
        min-height: none;
        background-color: #131925;
    }
}

